<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <listeners>
        <listener class-name="listener.Listener"/>
        <listener class-name="listener.RetryListener"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="C:/Users/remon.reda/Downloads/pencile-spaces-selenium-script">
        <classes>
            <class name="tests.ValidateSpaceToolsTest"/>
        </classes>
    </test>
</suite>